@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import '../styles/Variables.module.scss';

.landingImage {
  z-index: 0;
}

.landingWrapper {
  
  .searchBox {
    position: relative;
    text-align: center;
    margin-top: 3rem;

    input {
      padding: .5rem;
      font-size: 25px;
    }

    button {
      padding: .5rem;
      font-size: 25px;
    }
  }

  .landingHeading {
    z-index: 1;
    position: relative;
    font-size: 3rem;
    color: $color-primary;
    display: flex;
    justify-content: center;
  
    .tempNow h1{
      margin-right: 5rem;
      position: relative;
      // z-index: 2;
      color: $color-primary;
    }
  
    .tempNow h1::before {
      background: radial-gradient(rgba(0, 0, 0, .3), rgba(255, 255, 255, 0), rgba(0,0,0,0));
      z-index: -1;
      height: 150%;
      display: block;
      width: 180%;
      overflow: hidden;
      bottom: -45%;
      left: -55%;
      padding: 1rem;
      content: ' ';
      position: absolute;
      border-radius: 100%;
    }

    .weatherType {
      position: relative;

      p {
        position: absolute;
        font-size: 20px;
        top: 60%;
        color: $color-secondary;
        font-weight: 500;
      }
    }
  }
}



